.searchFilter {
  position: relative;
  display: flex;
  margin: 10px auto;
  max-width: 1380px;
  padding: 10px 0;
}

@media (380px < width < 425px) {
  .searchFilter {
      position: relative;
      margin: 0 auto;
      max-width: 400px;
  }
}
@media (width <= 380px) {
  .searchFilter {
      position: relative;
      margin: 0 auto;
      max-width: 370px;
  }
}