.beer_Container {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 450px 900px;
  column-gap: 17px;
  background-color: #fff;
  padding: 16px;
  height: fit-content;
}
.beer_Container .beerView {
  height: 490px;
  padding: 1rem;
  border: 0.05rem solid #f1f1f1;
}
.beer_Container .beerView img {
  // width: 100%;
  // height: 100%;
  // border-radius: 0.5rem;
  width: 410px;
  height: 450px;
}
.buyOrAdd {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 0.5rem 0.1rem;
}
.buyOrAdd .addToCart {
  padding: 1rem;
  border: none;
  background-color: #272727;
  color: #fff;
  cursor: pointer;
}
.buyOrAdd .buyNow {
  padding: 1rem;
  border: none;
  background-color: #1d84b5;
  color: #fff;
  cursor: pointer;
}
.beer_Container .beer_Details{
  width: 600px;
}
.beer_Container .beer_Details p {
  margin-bottom: 0.25rem;
}
.beer_Container .beer_Details .beerName {
  font-size: 20px;
  text-transform: uppercase;
}
.beer_Container .beer_Details .ratings {
  display: flex;
  margin-bottom: 10px;
}
.beer_Container .beer_Details .ratings div {
  background-color: #1d84b5;
  padding: 2px;
  font-size: 13px;
  color: #eef5f9;
  border-radius: 4px;
  margin-right: 4px;
  width: 35px;
  text-align: center;
}
.beer_Container .beer_Details .ratings small {
  color: #878787;
  font-weight: 500;
}
.beer_Container .beer_Details .price {
  color: #1d84b5;
}
.beer_Container .beer_Details .price strong {
  font-size: 1.5rem;
}
.beer_Container .beer_Details .offers {
  font-size: 0.75rem;
}
.beer_Container .beerSpec {
  width: 600px;
  margin: 2rem 0;
}

@media (424px <= width < 576px) {
  .beer_Container {
    max-width: 500px;
    margin: 0 auto;
    display: block;
    background-color: #fff;
    padding: 10px;
    width: auto;
    height: auto;
  }
  .beer_Container .buyOrAdd {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    padding: 0.5rem 0.1rem;
    position: sticky;
    bottom: 0;
    background-color: #fff;
  }
  .beer_Container .beerSpec {
    width: 400px;
    margin: 0;
  }
  .beer_Container .beerView img{
    width: 370px;
    height: 450px;
    font-size: 14px;
  }
}
