.beer_Container {
  max-width:  1280px;;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 450px 780px;
  column-gap: 17px;
  background-color: #fff;
  padding: 16px;
  height: fit-content;
}
.beer_Container .beerView {
  height: 490px;
  padding: 1rem;
  border: 0.05rem solid #f1f1f1;
}
.beer_Container .beerView img {
  width: 410px;
  height: 450px;
}
.buyOrAdd.desktop{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 0.5rem 0.1rem;
}
.buyOrAdd.mobile{
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 0.5rem 0.1rem;
}

.buyOrAdd .addToCart {
  padding: 1rem;
  border: none;
  background-color: #272727;
  color: #fff;
  cursor: pointer;
}
.buyOrAdd .buyNow {
  padding: 1rem;
  border: none;
  background-color: #1d84b5;
  color: #fff;
  cursor: pointer;
}
.beer_Container .beer_Details{
  width: 600px;
}
.beer_Container .beer_Details p {
  margin-bottom: 0.25rem;
}
.beer_Container .beer_Details .beerName {
  font-size: 20px;
  text-transform: uppercase;
}
.beer_Container .beer_Details .ratings {
  display: flex;
  margin-bottom: 10px;
}
.beer_Container .beer_Details .ratings div {
  background-color: #1d84b5;
  padding: 2px;
  font-size: 13px;
  color: #eef5f9;
  border-radius: 4px;
  margin-right: 4px;
  width: 35px;
  text-align: center;
}
.beer_Container .beer_Details .ratings small {
  color: #878787;
  font-weight: 500;
}
.beer_Container .beer_Details .price {
  color: #1d84b5;
}
.beer_Container .beer_Details .price strong {
  font-size: 1.5rem;
}
.beer_Container .beer_Details .offers {
  font-size: 0.75rem;
}
.beer_Container .beerSpec {
  width: 600px;
  margin: 2rem 0;
}
.iframeContent iframe {
  width: 100%;
  min-height: 500px;
  height: 100%;
  border: 1px solid #ccc;
}
@media (425px < width < 576px) {
  .beer_Container {
    max-width: 500px;
    margin: 0 auto;
    display: block;
    background-color: #fff;
    padding: 5px;
    width: auto;
    height: auto;
  }
  .buyOrAdd.desktop{
    display: none;
  }
  .buyOrAdd.mobile{
    display: grid;
    position: sticky;
    bottom: 0;
    background-color: #fff;
  }
  .beer_Container .beerSpec {
    width: 400px;
    margin: 0;
  }
  .beer_Container .beerView img{
    width: 370px;
    height: 450px;
    font-size: 14px;
  }
}
@media (380px < width <= 425px){
  .beer_Container {
    max-width: 425px;
    // margin: 0 auto;
    display: block;
    background-color: #fff;
    padding: 5px;
    width: auto;
    height: auto;
  }
  .buyOrAdd.desktop{
    display: none;
  }
  .buyOrAdd.mobile{
    display: grid;
    position: sticky;
    bottom: 0;
    background-color: #fff;
  }
  .beer_Container .beerSpec {
    width: 410px;
    margin: 0;
  }
  .beer_Container .beerView {
    height: 410px;
    padding: 0;
    border: 0.05rem solid #f1f1f1;
  }
  .beer_Container .beerView img{
    width: 410px;
    height: auto;
    font-size: 14px;
  }
  .beer_Container .beer_Details {
    width: 410px;
  }
}
@media (width <= 380px){
  .beer_Container {
    max-width: 380px;
    margin: 0 auto;
    display: block;
    background-color: #fff;
    padding: 5px;
    width: auto;
    height: auto;
  }
  .buyOrAdd.mobile{
    display: block;
    position: sticky;
    bottom: 0;
    background-color: #fff;
  }
  .buyOrAdd.desktop{
    display: none;
  }
  .beer_Container .beerSpec {
    width: 350px;
    margin: 0;
  }
  .beer_Container .beerView {
    height: 360px;
    padding: 0;
  }
  .beer_Container .beerView img{
    width: 350px;
    height: auto;
    font-size: 14px;
  }
  .beer_Container .beer_Details {
    width: 350px;
  }
}
