.container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  background-color: #293141;
}
.container .signupForm,.container .signinForm{
  /* width: 100%;
  max-width: 280px;
  border-radius: 1rem;
  padding: 2rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px 10px;
  width: 280px;
}
.container .signinForm h4,.container .signupForm h4{
  font-size: 1.25rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.container .signinForm .form-inputs,.container .signupForm .form-inputs{
  border: 0.05rem solid #ddd;
  outline: none;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
}
.container .signinForm .form-inputs input,.container .signupForm .form-inputs input{
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: inherit;
  height: 100%;
  width: 100%;
}
.container .signupForm .form-inputs.email{
  display: flex;
  align-items: center;
}
.container .signupForm .form-inputs .form-email{
  border-right: 0.05rem solid #ddd;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.container .signupForm .form-inputs .email-text{
  padding: 0.25rem;
}
.container .signinForm .form-checkbox,.container .signupForm .form-checkbox{
  margin: 0.5rem 0;
}
.container .signinForm .form-checkbox input,.container .signupForm .form-checkbox input{
  margin-right: 0.25rem;
  cursor: pointer;
}
/* .container .signinForm button,.container .signupForm button{
  border: none;
  background-color: #0D6EFD;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
  width: 100%;
  cursor: pointer;
  height: 40px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.container .signinForm img{
  margin-bottom: 0.75rem;
}
.container .signupForm button:disabled{
  background-color: #61A1FE;
  cursor: auto;
}
.container .signinForm .form-not-user,.container .signupForm .form-not-user{
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 400;
}

.container .signinForm .form-not-user a,.container .signupForm .form-not-user a{
  text-decoration: none;
  color: #0D6EFD;
}
.signin-suggetion{
  padding: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
}


/* Google Login Button */
.login-with-google-btn {
  padding: 12px 16px 12px 42px;
  border-radius: 5px;
  color: #232323;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  border: 1px solid #d8d8d8;
}

.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.login-with-google-btn:active {
  background-color: #eeeeee;
}

.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
}
