.cartPage{
    display:flex;
    background:#F1F3F6;
    height: 100vh;
}
.modal{
    width: 50vw;
    min-height: 500px;
    height: 65svh;
    margin-top: 80px ;
    margin-left: 20%;
    background: #fff;
    border-radius:0.3rem;
    box-shadow:  0 1px 6px #ccc;
    overflow-y: auto;
    padding:2rem;
}
.modal::-webkit-scrollbar{
    display: none;
}
.cartBeer{
    display: flex;
    border-radius: 1rem;
    background: #f2f4fd;
    margin-bottom: 1rem;
    position: relative;
}
.cartBeer .cartBeerImage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:  0 0 100px;
    padding: 0.6rem 0.5rem;
    /* filter: drop-shadow(2px 5px 8px #000); */
}
.cartBeer .cartBeerDetails{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0.4rem 0.5rem;
    background: #eaeefc;
    border-radius: 0 1rem 1rem 0;
    flex: 1;
    overflow: hidden;
}
.cartBeer .cartBeerDetails h3,p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.2rem;
    max-width: 100%;
}
.cartTotal{
    display:flex;
    flex-direction: column;
    margin: 0 0.5rem;
}
.totalFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.priceDetails{
    position:fixed;
    width:400px;
    border-radius:0.3rem;
    background:#fff;
    padding:1rem 0;
    box-shadow:  0 1px 6px #ccc;
    margin:80px 0
}
.priceDetails p{
    font-size: 20px;
    padding: 0.5rem 1rem;
    font-weight: 700;
}
.placeOrderBtn{
    border: none;
    outline: none;
    padding: 0.5rem 0.7rem;
    margin: 0 0.5rem;
    background-color: #FB641B;
    color: #fff;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 0.2rem;
}
.paymentGate{
    position: relative;
    top: 80px;
    margin: 0 auto;
    width: min(90%,500px);
    box-shadow:  0 1px 6px #ccc;
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paymentGate .address{
    border: none;
    outline: none;
    width: 100%;
    padding: 0.5rem;
}
.paymentGate .address textarea{
    border: none;
    outline: none;
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 16px;
    resize: none;
}
.paymentGate .amount{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
}
.paymentGate .paymentBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6739B7;
    color: #fff !important;
    border-radius: 0.5rem;
    font-size: 16px;
    padding: 1rem;
    margin: 0.5rem;
    cursor: pointer;
}
.paymentGate .paymentBtn img{
    margin: 0 0.5rem;
}
.emptyCart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 80px auto;
    padding: 1rem;
    box-shadow: 0 0 6px #aaa;
    border-radius: 1rem;
    width: fit-content;
    height: fit-content;
}
.emptyCart h4{
    font-size: 18px;
    font-weight: 500;
    padding: 0.5rem;

}
.emptyCart img{
    width: 100%;
}

@media (768px < width<=1400px){
    .cartPage{
        display:flex;
        height: 100%;
        
    }
    .modal{
        position: relative;
        min-height: 500px;
        height: 60svh;
        margin: 80px;
        background:#fff;
        border-radius:0.5rem;
        box-shadow:  0 1px 6px #ccc;
        overflow-y: auto;
        padding: 2rem;
    }
    .cartTotal{
        margin: 0 0.5rem;
        position: relative;
    }
    .cartBeer{
        display: flex;
        border-radius: 1rem;
        background: #f2f4fd;
        margin-bottom: 1rem;
        position: relative;
    }
    .cartBeer .cartBeerImage{
        display: flex;
        justify-content: center;
        align-items: center;
        flex:0 0 100px;
        padding: 0.6rem 0.5rem;
        /* filter: drop-shadow(2px 5px 8px #000); */
    }
    .cartBeer .cartBeerDetails{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0.4rem 0.5rem;
        background: #eaeefc;
        border-radius: 0 1rem 1rem 0;
        flex: 1;
        overflow: hidden
        ;
    }
    .priceDetails{
        position: fixed;
        right: 150px;
        width:300px;
        border-radius:0.5rem 0 0 0.5rem;
        background:#fff;
        padding:0.5rem 0;
        margin-bottom: 0;
        box-shadow: 0 0 5px #f9f9f9;
    }
}
@media (width<=768px){
    .cartPage{
        display:flex;
        flex-direction: column;
        height: 100vh;
        margin-bottom: 0;
        padding: 10px;
        
    }
    .modal{
        width: 96%;
        min-height: 400px;
        height: 50%;
        margin: 0 2%;
        background: #fff;
        border-radius: 2rem;
        box-shadow: 0 1px 6px #ccc;
        overflow-y: auto;
        padding: 0.7rem;
        margin-top: 80px;
    }
    .cartTotal{
        margin: 0;
        position: relative;
    }
    .placeOrderBtn{
        border: none;
        outline: none;
        padding: 0.7rem;
        margin: 0 0.7rem;
        background-color: #FB641B;
        color: #fff;
        font-size: 0.9rem;
        cursor: pointer;
        border-radius: 0.2rem;
    }
    .totalFooter{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .cartBeer{
        display: flex;
        border-radius: 1rem;
        background: #f2f4fd;
        margin-bottom: 1rem;
        position: relative;
    }
    .cartBeer .cartBeerImage{
        display: flex;
        justify-content: center;
        align-items: center;
        flex:0 0 100px;
        padding: 0.6rem 0.5rem;
        /* filter: drop-shadow(2px 5px 8px #000); */
    }
    .cartBeer .cartBeerDetails{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0.4rem 0.5rem;
        background: #eaeefc;
        border-radius: 0 1rem 1rem 0;
        flex: 1;
        overflow: hidden;
    }
    .priceDetails{
        position: fixed;
        bottom: 0;
        width: 96%;
        border-radius: 2rem 2rem 0 0;
        background: #fff;
        padding: 0;
        margin-bottom: 0;
        box-shadow: 0 0 5px #f9f9f9;
    }
}