.home {
  min-height: calc(100vh - 165px);
  height: 100%;
}

.beerContainer {
  margin: 0.75rem 0;
  display: grid;
  grid-template-columns: repeat(6, 200px);
  gap: 0 2rem;
  justify-content: center;
  align-items: end;
  position: relative;
}
.swipe-indicator {
  display: none;
}
.beerContainer .beer {
  border-radius: 0.3rem;
  background-color: #f2f4fd;
}
.beerContainer .beer .beerImage {
  display: flex;
  justify-content: center;
  padding: 0;
  /* filter: drop-shadow(2px 5px 8px #000); */
}
.beerContainer .beer .beerImage img {
  width: 100%;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.beerContainer .beer .beerDetails {
  padding: 0.4rem 0.5rem;
  background-color: #eaeefc;
  border-radius: 0 0 1rem 1rem;
}
.beerContainer .beer .beerDetails h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.1rem;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
}
.beerContainer .beer .beerDetails p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.1rem;
  max-width: 100%;
  font-size: 15px;
  font-weight: 400;
}
.beerContainer .beer .beerDetails .ratingsandprice {
  color: #1d84b5;
}
.beerContainer .btn {
  display: none;
}

@media (768px < width <=1440px) {
  .beerContainer {
    overflow-x: scroll;
    margin: 1rem 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s;
  }
  .swipe-indicator {
    display: flex;
    animation: swipe 1200ms 3;
    width: 0px;
    position: absolute;
    height: 40px;
    background-image: linear-gradient(90deg, #abafb1 5%, rgba(0, 131, 206, 0) 72%);
    border-radius: 40px;
    left: 30%;
    &::after {
      position: absolute;
      left: 0;
      width: 40px;
      height: 40px;
      content: "";
      background: rgb(61, 61, 63);
      border-radius: 40px;
      display: block;
      /* Oval Copy 7: */
      background: #242525;
      box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
      animation: disappear 1200ms forwards;
    }
  }
  @keyframes swipe {
    0% {
      margin-left: 160px;
      width: 40px;
    }
    100% {
      width: 160px;
      margin-left: 0px;
      opacity: 1;
    }
  }
  @keyframes disappear {
    100% {
      display: none;
    }
  }
  .beerContainer::-webkit-scrollbar {
    display: none;
  }
  .beerContainer .beer {
    width: 200px;
    flex: 0 0 200px;
  }
  .beerContainer .btn {
    display: block;
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #fff;
    z-index: 2;
    border-radius: 50%;
    outline: 0;
    border: 0;
    font-size: 24px;
    box-shadow: 0 0 4px #aaa;
  }
  .beerContainer #btn-prev {
    left: 0.5rem;
  }
  .beerContainer #btn-next {
    right: 0.5rem;
  }
}
@media (576px < width <= 768px) {
  .beerContainer {
    overflow-x: scroll;
    margin: 1rem 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s;
  }
  .beerContainer {
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .swipe-indicator {
    display: flex;
    animation: swipe 1200ms 3;
    width: 0px;
    position: absolute;
    height: 40px;
    background-image: linear-gradient(90deg, #abafb1 5%, rgba(0, 131, 206, 0) 72%);
    border-radius: 40px;
    left: 30%;
    &::after {
      position: absolute;
      left: 0;
      width: 40px;
      height: 40px;
      content: "";
      background: rgb(61, 61, 63);
      border-radius: 40px;
      display: block;
      /* Oval Copy 7: */
      background: #242525;
      box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
      animation: disappear 1200ms forwards;
    }
  }
  @keyframes swipe {
    0% {
      margin-left: 160px;
      width: 40px;
    }
    100% {
      width: 160px;
      margin-left: 0px;
      opacity: 1;
    }
  }
  @keyframes disappear {
    100% {
      display: none;
    }
  }
  .beerContainer .beer {
    width: 200px;
    height: fit-content;
    flex: 0 0 200px;
  }
  .beer .beerDetails h3,
  .beer .beerDetails p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.1rem;
    max-width: 100%;
  }
  .beerContainer .btn {
    display: block;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #fff;
    z-index: 2;
    border-radius: 50%;
    outline: 0;
    border: 0;
    font-size: 24px;
    box-shadow: 0 0 4px #aaa;
  }
  .beerContainer #btn-prev {
    left: 0.5rem;
  }
  .beerContainer #btn-next {
    right: 0.5rem;
  }
}
@media (425px <= width <= 576px) {
  .beerContainer {
    margin: 0.5rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 440px;
  }
  .beerContainer {
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .beerContainer .beer {
    border-radius: 0.3rem;
  }
  .beerContainer .beer .beerImage {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .beerContainer .beer .beerImage img {
    height: 100%;
    width: 100%;
    overflow: auto;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }
  .beerContainer .beer .beerDetails {
    padding: 0 0.5rem;
    background-color: #eaeefc;
    border-radius: 0 0 0.3rem 0.3rem;
  }
  .beerContainer .beer .beerDetails h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 15px;
    font-weight: 400;
  }
  .beerContainer .beer .beerDetails p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 15px;
    font-weight: 400;
  }
  .beerContainer .btn {
    display: block;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #fff;
    z-index: 2;
    border-radius: 50%;
    outline: 0;
    border: 0;
    font-size: 24px;
    box-shadow: 0 0 4px #aaa;
  }
  .beerContainer #btn-prev {
    left: 0.5rem;
  }
  .beerContainer #btn-next {
    right: 0.5rem;
  }
}
@media (width < 425px) {
  .beerContainer {
    margin: 0.5rem 4%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .beerContainer {
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .beerContainer .beer {
    border-radius: 0.3rem;
  }
  .beerContainer .beer .beerImage {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .beerContainer .beer .beerImage img {
    height: 100%;
    width: 100%;
    overflow: auto;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }
  .beerContainer .beer .beerDetails {
    padding: 0.5rem;
    background-color: #eaeefc;
    border-radius: 0 0 0.3rem 0.3rem;
  }
  .beerContainer .beer .beerDetails h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 16px;
    font-weight: 500;
    padding: 0.1rem;
  }
  .beerContainer .beer .beerDetails p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 15px;
    font-weight: 400;
    padding: 0.1rem;
  }
  .beerContainer .btn {
    display: block;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #fff;
    z-index: 2;
    border-radius: 50%;
    outline: 0;
    border: 0;
    font-size: 24px;
    box-shadow: 0 0 4px #aaa;
  }
  .beerContainer #btn-prev {
    left: 0.5rem;
  }
  .beerContainer #btn-next {
    right: 0.5rem;
  }
}
