.main {
  padding: 0.75rem 0;
}
.random,
.random1 {
  margin: 0.5rem auto;
  max-width: 1250px;
}
.random1 .randomHeaderParent {
  padding: 0.5rem 0;
}
.random1 .randomHeader {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.random1 .randomHeader p {
  font-size: 22px;
  font-weight: 500;
}

.random1 .randomHeader a {
  text-decoration: none;
  color: #000;
  border: 1px solid #2f6c91;
  border-radius: 0.3rem;
  outline: none;
  background-color: #fff;
  padding: 0.5rem 0.7rem;
  width: 80px;
  height: 40px;
}

.beerContainer {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  gap: 0 10px;
  position: relative;
}
.swipe-indicator {
  display: none;
}
.beerContainer .beer {
  border-radius: 0.3rem;
  background-color: #f2f4fd;
  width: 200px;
  height: 312px;
}
.beerContainer .beer .beerImage {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0;
}
.beerContainer .beer .beerImage img {
  width: 200px;
  height: 200px;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.beerContainer .beer .beerDetails {
  padding: 0.4rem 0.5rem;
  background-color: #eaeefc;
  border-radius: 0 0 0.3rem 0.3rem;
}
.beerContainer .beer .beerDetails a {
  text-decoration: none;
  color: #242525;
}
.beerContainer .beer .beerDetails h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.1rem;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
}
.beerContainer .beer .beerDetails p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.1rem;
  max-width: 100%;
  font-size: 15px;
  font-weight: 400;
}
.beerContainer .beer .beerDetails .ratingsandprice {
  color: #2f6c91;
}
.beerContainer .btn {
  display: none;
}

@media (768px < width <=1440px) {
  .random,
  .random1 {
    width: 100%;
    margin: 0.5rem auto;
    max-width: 1250px;
  }
  .beerContainer {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s;
  }
  .swipe-indicator {
    display: none;
    animation: swipe 1200ms 3;
    width: 0px;
    position: absolute;
    height: 40px;
    background-image: linear-gradient(90deg, #abafb1 5%, rgba(0, 131, 206, 0) 72%);
    border-radius: 40px;
    left: 30%;
    &::after {
      position: absolute;
      left: 0;
      width: 40px;
      height: 40px;
      content: "";
      background: rgb(61, 61, 63);
      border-radius: 40px;
      display: block;
      /* Oval Copy 7: */
      background: #242525;
      box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
      animation: disappear 1200ms forwards;
    }
  }
  @keyframes swipe {
    0% {
      margin-left: 160px;
      width: 40px;
    }
    100% {
      width: 160px;
      margin-left: 0px;
      opacity: 1;
    }
  }
  @keyframes disappear {
    100% {
      display: none;
    }
  }
  .beerContainer::-webkit-scrollbar {
    display: none;
  }
  .beerContainer .btn {
    display: block;
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #fff;
    z-index: 2;
    border-radius: 50%;
    outline: 0;
    border: 0;
    font-size: 24px;
    box-shadow: 0 0 4px #aaa;
  }
  .beerContainer #btn-prev {
    left: 0.5rem;
  }
  .beerContainer #btn-next {
    right: 0.5rem;
  }
  .beerContainer .beer .beerDetails {
    padding: 0.4rem 0.5rem;
    background-color: #eaeefc;
    border-radius: 0 0 0.3rem 0.3rem;
  }
}
@media (576px < width <= 768px) {
  .random1 .randomHeader {
    margin: 0.5rem 1rem;
  }
  .beerContainer {
    overflow-x: scroll;
    margin: 1rem 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s;
  }
  .beerContainer {
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .swipe-indicator {
    display: flex;
    animation: swipe 1200ms 3;
    width: 0px;
    position: absolute;
    height: 40px;
    background-image: linear-gradient(90deg, #abafb1 5%, rgba(0, 131, 206, 0) 72%);
    border-radius: 40px;
    left: 30%;
    &::after {
      position: absolute;
      left: 0;
      width: 40px;
      height: 40px;
      content: "";
      background: rgb(61, 61, 63);
      border-radius: 40px;
      display: block;
      /* Oval Copy 7: */
      background: #242525;
      box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
      animation: disappear 1200ms forwards;
    }
  }
  @keyframes swipe {
    0% {
      margin-left: 160px;
      width: 40px;
    }
    100% {
      width: 160px;
      margin-left: 0px;
      opacity: 1;
    }
  }
  @keyframes disappear {
    100% {
      display: none;
    }
  }
  .beer .beerDetails h3,
  .beer .beerDetails p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.1rem;
    max-width: 100%;
  }
  .beerContainer .btn {
    display: block;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #fff;
    z-index: 2;
    border-radius: 50%;
    outline: 0;
    border: 0;
    font-size: 24px;
    box-shadow: 0 0 4px #aaa;
  }
  .beerContainer #btn-prev {
    left: 0.5rem;
  }
  .beerContainer #btn-next {
    right: 0.5rem;
  }
}
@media (425px <= width <= 576px) {
  .random,
  .random1 {
    margin: 0.5rem auto;
    max-width: 420px;
  }
  .random1 .randomHeader {
    margin: 0.5rem;
  }
  .beerContainer {
    display: grid;
    grid-template-columns: repeat(2, 205px);
    gap: 10px;
  }
  .beerContainer {
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .beerContainer .beer {
    height: 300px;
    width: 205px;
  }
  .beerContainer .beer .beerImage {
    display: flex;
    justify-content: center;
    padding: 0;
    cursor: pointer;
  }
  .beerContainer .beer .beerImage img {
    height: 205px;
    width: 205px;
    overflow: auto;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }
  .beerContainer .beer .beerDetails {
    padding: 0 0.5rem;
    background-color: #eaeefc;
    border-radius: 0 0 0.3rem 0.3rem;
  }
  .beerContainer .beer .beerDetails a {
    text-decoration: none;
    color: #242525;
  }
  .beerContainer .beer .beerDetails h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 15px;
    font-weight: 400;
  }
  .beerContainer .beer .beerDetails p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 15px;
    font-weight: 400;
  }
  .beerContainer .btn {
    display: block;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #fff;
    z-index: 2;
    border-radius: 50%;
    outline: 0;
    border: 0;
    font-size: 24px;
    box-shadow: 0 0 4px #aaa;
  }
  .beerContainer #btn-prev {
    left: 0.5rem;
  }
  .beerContainer #btn-next {
    right: 0.5rem;
  }
}
@media (width < 425px) {
  .random,
  .random1 {
    margin: 0.5rem auto;
    max-width: 410px;
  }
  .random1 .randomHeader {
    margin: 0.5rem;
  }
  .beerContainer {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 10px;
  }
  .beerContainer {
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .beerContainer .beer {
    border-radius: 0.3rem;
    height: 312px;
    width: 200px;
  }
  .beerContainer .beer .beerImage {
    display: flex;
    justify-content: center;
    padding: 0;
    cursor: pointer;
  }
  .beerContainer .beer .beerImage img {
    width: 200px;
    height: 200px;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }
  .beerContainer .beer .beerDetails {
    padding: 0.5rem;
    background-color: #eaeefc;
    border-radius: 0 0 0.3rem 0.3rem;
  }
  .beerContainer .beer .beerDetails a {
    text-decoration: none;
    color: #242525;
  }
  .beerContainer .beer .beerDetails h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 16px;
    font-weight: 500;
    padding: 0.1rem;
  }
  .beerContainer .beer .beerDetails p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 15px;
    font-weight: 400;
    padding: 0.1rem;
  }
  .beerContainer .btn {
    display: block;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #fff;
    z-index: 2;
    border-radius: 50%;
    outline: 0;
    border: 0;
    font-size: 24px;
    box-shadow: 0 0 4px #aaa;
  }
  .beerContainer #btn-prev {
    left: 0.5rem;
  }
  .beerContainer #btn-next {
    right: 0.5rem;
  }
}
