.footerContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #272727;
    color: #fff;
    width: 100%;
    flex-wrap: wrap;
    padding: 0 0.5rem;
    position: sticky;
    bottom: 0;
    height: 50px;
}
.footerContainer .socialLinks{
    display: flex;

}
.footerContainer .socialLinks img{
    margin: 0.3rem 0.5rem;
    padding: 0.2rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.footerContainer .contactTabs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerContainer .contactTabs p{
    margin: 0.2rem;
    border: 2px solid #fff;
    padding: 0.3rem;
    white-space: nowrap;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;

}

@media (425px <= width < 576px){
    .footerContainer{
        height: 100%;
    }
    .footerContainer .socialLinks img{
        margin: 0.3rem;
        padding: 0.2rem;
        width: 1.75rem;
        height: 1.75rem;
        cursor: pointer;
    }
}