*{
    margin: 0;
    padding: 0;
}
html,
body{
    height: 100%;
    font-size: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*,
::after,
::before{
    box-sizing: border-box;
}
a{
    -webkit-tap-highlight-color: transparent;
}
[data-theme='light']{
    --bg-color: #fff;
    --text-color: #272727;    
    --heading-color: #272727;    
}
[data-theme='dark']{
    --bg-color: #272727;
    --text-color: #fff;    
    --heading-color: #fff;    
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: #cdc9c9;
}
::-webkit-scrollbar-thumb{
    background: #888;
}
::-webkit-scrollbar-thumb:hover{
    background: #747373;
}
.beer{
    position: relative;
}

