*{
    margin: 0;
    padding: 0;
}
html,
body{
    height: 100%;
    font-size: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*,
::after,
::before{
    box-sizing: border-box;
}
.beer{
    position: relative;
}

