.filterOptions{
  position: absolute;
  top: -6px;
  right: 410px;
  width: 200px;
  height: 400px;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid;
}
.applyBtn{
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  background-color: #E1F3EB;
  cursor: pointer;
}