.productsFilter{
    position: relative;
    display: flex;
    margin: 10px 7%;

}
.beerProducts{
    display: grid;
    grid-template-columns: repeat(5,250px);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 2rem;
}
.beerProducts .beer{
    border-radius: 0.3rem;
    background: #f2f4fd;
}
.beerProducts .beer .beerImage{
    display: flex;
    justify-content: center;
    padding: 0.6rem 0;
    /* filter: drop-shadow(2px 5px 8px #000); */
}
.beerProducts .beer .beerImage img{
    width: 175px;
}
.beerProducts .beer .beerDetails{
    padding: 0.4rem 0.5rem;
    background: #eaeefc;
    border-radius: 0 0 0.3rem 0.3rem;
}

.beerProducts .beer .beerDetails h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.1rem;
    font-size: 16px;
    font-weight: 500;
}
.beerProducts .beer .beerDetails p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.1rem;
    font-size: 15px;
    font-weight: 400;
}
.beerProducts .beer .beerDetails .ratingsandprice{
    color: #1D84B5;
}



@media (768px < width <= 1400px){
    .beerProducts{
        display: grid;
        grid-template-columns: repeat(4,200px);
        gap: 20px 30px;
        margin: 90px 8%;
    }
}
@media screen and ( 576px < width <=768px){
    
    .beerProducts{
        display: grid;
        grid-template-columns: repeat(2,310px);
        grid-row: 15px;
    }
    .beerProducts .beer{
        display: flex;
        border-radius: 0.3rem;
        background: #f2f4fd;
    }
    .beerProducts .beer .beerImage{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.6rem 0.5rem;
        /* filter: drop-shadow(2px 5px 8px #000); */
        flex: 0 0 100px;
    }
    .beerProducts .beer .beerImage img{
        width: 120px;
    }
    .beerProducts .beer .beerDetails{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0.4rem 0.5rem;
        background: #eaeefc;
        border-radius: 0 0.3rem 0.3rem 0;
        overflow: hidden;
        flex: 1;
    }
}
@media screen and ( width <= 576px){
    .productsFilter{
        position: relative;
        margin: 10px 2%;
    }
    .beerProducts{
        display: grid;
        grid-template-columns: repeat(1,400px);
        row-gap: 20px;
        width: 100%;
    }
    .beerProducts .beer{
        display: flex;
        border-radius: 0.3rem;
        background: #f2f4fd;
    }
    .beerProducts .beer .beerImage{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.6rem 0.5rem;
        /* filter: drop-shadow(2px 5px 8px #000); */
        flex: 0 0 100px;
    }
    .beerProducts .beer .beerImage img{
        width: 100px;
    }
    .beerProducts .beer .beerDetails{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0.4rem 0.5rem;
        background: #eaeefc;
        border-radius: 0 0.3rem 0.3rem 0;
        overflow: hidden;
        flex: 1;
    }
}