.productsFilter{
    position: relative;
    display: flex;
    margin: 10px auto;
    max-width: 1700px;
    padding-bottom: 10px;

}
.beerProducts{
    display: grid;
    grid-template-columns: repeat(5,260px);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-bottom: 2rem;
}
.beerProducts .beer{
    border-radius: 0.3rem;
    background: #f2f4fd;
}
.beerProducts .beer .beerImage{
    display: flex;
    justify-content: center;
    padding: 0;
    height: 260px;
}
.beerProducts .beer .beerImage img{
    width: 260px;
    height: 260px;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    font-size: 14px;
}
.beerProducts .beer .beerDetails{
    padding: 0.4rem 0.5rem;
    background: #eaeefc;
    border-radius: 0 0 0.3rem 0.3rem;
}
.beerProducts .beer .beerDetails a{
    text-decoration: none;
    color: #000;
}
.beerProducts .beer .beerDetails h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.1rem;
    font-size: 16px;
    font-weight: 500;
}
.beerProducts .beer .beerDetails p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.1rem;
    font-size: 15px;
    font-weight: 400;
}
.beerProducts .beer .beerDetails .ratingsandprice{
    color: #2f6c91;
}



@media (768px < width <= 1440px){
    .productsFilter {
        position: relative;
        display: flex;
        margin: 10px auto;
        max-width: 1390px;
    }
    .desktopFilter {
        width: 270px;
        margin-right: 10px;
    }
    .beerProducts {
        display: grid;
        grid-template-columns: repeat(4, 270px);
        gap: 10px;
    }
    .beerProducts .beer{
        display: flex;
        flex-direction: column;
        border-radius: 0.3rem;
        background: #f2f4fd;
    }
    .beerProducts .beer .beerImage{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        flex: 0 0 100px;
        height: 270px;
    }
    .beerProducts .beer .beerImage img{
        width: 270px;
        height: 270px;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
    }
}
@media ( 576px < width <= 768px){
    .productsFilter{
        position: relative;
        display: flex;
        margin: 10px auto;
        max-width: 740px;
    }
    
    .beerProducts{
        display: grid;
        grid-template-columns: repeat(3,240px);
        gap: 15px;
    }
    .beerProducts .beer{
        border-radius: 0.3rem;
        background: #f2f4fd;
    }
    .beerProducts .beer .beerImage{
        display: flex;
        padding: 0;
        height: 240px;
    }
    .beerProducts .beer .beerImage img{
        width: 240px;
        height: 240px;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
    }
    .beerProducts .beer .beerDetails{
        padding: 0.4rem 0.5rem;
        background: #eaeefc;
        border-radius: 0 0 0.3rem 0.3rem;
    }
}
@media (425px <=  width <= 576px){
    .productsFilter{
        position: relative;
        margin: 10px auto;
        max-width: 420px;
    }
    .beerProducts{
        display: grid;
        grid-template-columns: repeat(2,205px);
        gap: 10px;
    }
    .beerProducts .beer{
        border-radius: 0.3rem;
        background: #f2f4fd;
    }
    .beerProducts .beer .beerImage{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 205px;
    }
    .beerProducts .beer .beerImage img{
        width: 205px;
        height: 205px;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
    }
    .beerProducts .beer .beerDetails{
        padding: 0.4rem 0.5rem;
        background: #eaeefc;
        border-radius: 0 0 0.3rem 0.3rem;
        overflow: hidden;
    }
}

@media (380px < width < 425px){
    .productsFilter{
        position: relative;
        margin: 0 auto;
        max-width: 400px;
    }
    .beerProducts{
        display: grid;
        grid-template-columns: repeat(2,195px);
        gap: 10px;
    }
    .beerProducts .beer{
        border-radius: 0.3rem;
        background: #f2f4fd;
    }
    .beerProducts .beer .beerImage{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 195px;
    }
    .beerProducts .beer .beerImage img{
        width: 195px;
        height: 195px;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
    }
    .beerProducts .beer .beerDetails{
        padding: 0.4rem 0.5rem;
        background: #eaeefc;
        border-radius: 0 0 0.3rem 0.3rem;
        overflow: hidden;
    }
}
@media (width < 380px) {
    .beerProducts {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0;
      height: auto;
    }
    .beerProducts .beer {
      border-radius: 0.3rem;
      width: 180px;
    }
    .beerProducts .beer .beerImage img {
      width: 180px;
      height: 200px;
      border-radius: 0;
    }
    .beerProducts .beer .beerDetails {
      border-radius: 0;
    }
  }